{:paths ["src" "resources"]
 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  org.clojure/core.cache {:mvn/version "1.0.225"}
  com.brunobonacci/mulog {:mvn/version "0.9.0"}
  aero/aero {:mvn/version "1.1.6"}
  io.github.cljfx/dev {:mvn/version "1.0.39"}
  cljfx/cljfx {:mvn/version "1.9.3"}
  clojure-csv/clojure-csv {:mvn/version "2.0.1"}}
 :aliases
 {;; Run with clj -T:build function-in-build
  :run {:main-opts ["-m" "megastrike.core"]}
  :build {:deps {org.clojure/spec.alpha {:mvn/version "0.5.238"}
                 io.github.clojure/tools.build {:git/tag "v0.10.5" :git/sha "2a21b7a"}}
          :ns-default build
          :jvm-opts ["-Dcljfx.skip-javafx-initialization=true"]}}}
